<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/restaurants.css">

</head>

<body>
  <%- include('includes/header')%>
    <%- include('includes/side-drawer')%>
      <main>
        <h1>
          <% if (searchQuery) { %>
            Search results for "<%= searchQuery %>"
              <% } else { %>
                Recommended restaurants
                <% } %>
        </h1>
        <% if(numberOfRestaurants===0) {%>
          <p>Unfortunately,we have no restaurants yet-may be start recommending some?</p>
          <%} else{%>
            <p>We found <%=numberOfRestaurants%> restaurants</p>

            <form action="/restaurants" method="GET">
              <input type="hidden" name="search" value="<%= searchQuery %>">
              <input type="hidden" value="<%=nextOrder%>" name="order">
              <button class="btn">Sort results</button>

            </form>

            <p>Find your next favorite restaurants with help of our other users!</p>
            <ul id="restaurants-list">
              <% for (const restaurant of restaurants){ %>
                <%- include('includes/restaurants/restaurant-item',{restaurant:restaurant})%>
                  <%}%>
            </ul>
            <%}%>
      </main>
</body>

</html>