<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/restaurants.css">

</head>


<body>
  <%- include('includes/header')%>
    <%- include('includes/side-drawer')%>
      <main>
        <h1>
          <% if (searchQuery) { %>
            Search results for "<%= searchQuery %>"
              <% } else { %>
                Recommended restaurants
                <% } %>
        </h1>
        <% if(numberOfRestaurants===0) {%>
          <p>Unfortunately,we have no restaurants yet-may be start recommending some?</p>
          <%} else{%>
            <p>We found <%=numberOfRestaurants%> restaurants</p>

            <form action="/restaurants" method="GET">
              <input type="hidden" name="order" value="<%= order %>" id="orderInput">              
              <input type="hidden" name="search" value="<%= searchQuery %>">
              <div class="dropdown">
                <button type="button" class="dropbtn">Sort <i class="fa-solid fa-arrow-down-wide-short"></i></button>
                <div class="dropdown-content">
                  <button type="submit" onclick="setOrder('name')">By Name</button>
                  <button type="submit" onclick="setOrder('cuisine')">By Cuisine</button>
                  <button type="submit" onclick="setOrder('address')">By Location</button>
                </div>
              </div>

            </form>

            <p>Find your next favorite restaurants with help of our other users!</p>
            <ul id="restaurants-list">
              <% for (const restaurant of restaurants){ %>
                <%- include('includes/restaurants/restaurant-item',{restaurant:restaurant})%>
                  <%}%>
            </ul>
            <%}%>
      </main>
</body>
<script>
  function setOrder(order) {
    document.getElementById('orderInput').value = order;
  }
</script>
</html>